.top {
    text-align: center;
}

.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back{
    background-color: #111;
    padding: 20px;
    margin: 30px;
    border-radius: 4px;
    color: #b2b2b2;
}

.btn{
    background-color: #febe01;
    text-decoration: none;
    font-size: 15px;
    color: #111;
    padding: 3px;
    border-radius: 4px;
}

.span{
    color: #febe01;
}

.branco{
    color: #ffffff;
}